
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<body>
  <div class = "center">
    <section>
      <article>
        <h2> Instant Rails App</h2>
          <div class = "posttext" class="ellipsis">
            <p>
            A month ago, trying to put together a Rails App could bring me to tears. But now that I have a
            quick and easy go-to process, it's become so enjoyable for me that I find myself building apps
            in my free time for fun. This is supposed to be 'instant', so let's get to it.
            <br>
            <br>
            Please keep in mind that whenever I use the word 'example', you are encouraged to create your own relevant
            verbiage. For example, if you are creating a blog, you may use the word "post". If you are creating a example ranker,
            you will likely want to use the word 'example'.
            In the terminal:
            <br>
            <div class = code>
              > rails new example -T -d postgresql
              <br>
              > cd example
              <br>
              > rake db:create
              <br>
              > control-T
              <br>
              > rails server
              <br>
              > atom .
              <br>
            </div>
            <br>
            This starts a new application, creates a database, and starts a local server.
            <br>
            Still in the terminal (you can do a LOT in the terminal):
            <br>
            <br>
            <div class = code>
              > rails g model example your_own_attribute:string
              <br>
              > rake db:migrate
              <br>
              > rails g controller example
              <br>
              > control-T
              <br>
              > atom .
              <br>
            </div>
            <br>
            Cool. Instant models and controllers. Just make sure that your attributes have the correct
            types(string, integer, or text, etc.).You've migrated the changes to the database, opened your app, and now
            you're ready to fill in the model-view-controller.
            <br>
            <br>
            In the controller, there are many default actions you can start with, and use to set instance variables
            that you will use in your view (web) pages:
            <br>
            <br>
            <div class = code>
              ExamplesController < ApplicationController
              <br>
              <br>
              def index
              <br>
              &nbsp&nbsp  @examples = Examples.all
              <br>
              end
              <br>
              <br>
              def new
              <br>
              &nbsp&nbsp  @examples = Example.new
              <br>
              end
              <br>
              <br>
              def create
              <br>
              &nbsp&nbsp  @example = Album.new(example_params)
              <br>
              &nbsp&nbsp  if @example.save
              <br>
              &nbsp&nbsp    redirect_to examples_show_path(@album)
              <br>
              &nbsp&nbsp  else
              <br>
              &nbsp&nbsp    render 'new'
              <br>
              &nbsp&nbsp    end
              <br>
              end
              <br>
              <br>
              def show
              <br>
              &nbsp&nbsp  @example = Example.find(params[:id])
              <br>
              end
              <br>
              <br>
              def edit
              <br>
              &nbsp&nbsp  @example = Example.find(params[:id])
              <br>
              end
              <br>
              <br>
              def update
              <br>
              &nbsp&nbsp  @example = Example.find(params[:id])
              <br>
              &nbsp&nbsp  if @example.update(find_params)
              <br>
              &nbsp&nbsp    redirect_to example_show_path(@album)
              <br>
              &nbsp&nbsp  else
              <br>
              &nbsp&nbsp    render 'edit'
              <br>
              &nbsp&nbsp  end
              <br>
              end
              <br>
              <br>
              def destroy
              <br>
              &nbsp&nbsp  @example = Example.find(params[:id])
              <br>
              &nbsp&nbsp  @example.destroy
              <br>
              &nbsp&nbsp  redirect_to examples_path
              <br>
              end
              <br>
              <br>
              private
              <br>
              <br>
              def example_params
              <br>
              &nbsp&nbsp  params.require(:example).permit(:your_own_attribute)
              <br>
              end
              <br>
              <br>
              end
            </div>
            <br>
            <br>
            You've now set up all the default actions that will do some of the logic of your site. The 'show' action, for example,
            will show you a specific instance of an example, whereas an index action will have you an instance variable
            that contains <emph>all<emph> of your example objects. Private methods, like 'example_params' can only be
            called from within this controller.
            <br><br>
            <br>
            Now that we have the actions we'll need for the pages, let's check out the routes.rb file:
            <br>
            <br>
            <div class = code>
            Rails.application.routes.draw do
            <br>
            # Home
            <br>
            get    "home/index",                                  as: :home_index
            <br>
            root   "home#index",                                  as: :root
            <br>
            <br>
            # examples routes
            <br>
            get	    "/examples",              to:	"examples#index",   as: :examples
            <br>
            get	    "/examples/new",          to:	"examples#new",     as: :examples_new<br>
            post    "/examples",              to:	"examples#create",  as: :examples_create<br>
            get	    "/examples/:id",          to:	"examples#show",    as: :examples_show<br>
            get	    "/examples/:id/edit",     to:	"examples#edit",    as: :examples_edit<br>
            patch	  "/examples/:id",          to:	"examples#update",  as: :examples_update<br>
            get     "/examples/:id/delete",   to: "examples#destroy", as: :examples_destroy<br>
            delete  "/examples/:id",          to:	"examples#destroy", as: :examples_delete<br>
            get     "/examples/:id/upvote",   to: "examples#upvote",  as: :examples_upvote<br>
            <br>
            end
            <div>
            <br>
            <br>
            Here we're setting up the paths that will take us to specific actions and controllers, using restful routes paths. Those paths
            that take an id are used to update a specific instance of an example object.
            <br>
            Moving on to View pages, where we might see a form to create an instance of an example object:<br>
            Create a new.html.erb file in your views/examples folder:
            <br>
            <div class = code>

            <%= form_for @example do |f| %><br>
            &nbsp&nbsp  <%= f.label :your_own_attribute %>:<br>
            &nbsp&nbsp  <%= f.text_field :your_own_attribute %><br/>
            &nbsp&nbsp  <%= f.submit %><br>
            <% end %><br>
            <end>
            <br>
            <br>
            This fills the examples fields and goes to the create action in the Example Controller, and creates an
            instance of an example class in the Example Model. You'll want to create other pages, perhaps with other form_fors. An
            edit page, to edit the info, an index page, which will show all of the examples, and perhaps a show page, which will show
            a specific instance of an example.
            <br>
            <br>
            And that's pretty much it! You now have a very basic rails app!
            <p>

            <div class = "postdate">
             <p>
               <div class = "date"> 11.16.14 </div>

               <!-- <%= @date %> -->
             </p>
           </div>
           <!-- <div id="read_more">Read More</div>
         </div>  <!/posttext -->
        </article>
      </section>
    </div>
  </body>
